{% extends 'foodfeed/base.html' %}
{% load staticfiles %}
{% load foodfeed_tags %}

{% block resources %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}
    <p id="aboutUs">
        This project is a part of our fourth semesters grade in WAD at UofG. The idea was to create a web page similar in style to the very popular social
        network; Instagram. The main feature of our platform was to create the content solely about food and give people a more objective way of rating pictures.
        There are three main rating scales: HEALTH, COOKING and STYLE. One is to show how hard was if to prepare that meal, second was to show how good
        of a photo it is so that we have a distinction between good photographs and good chefs and lastly one scale to determine the healthiness of
        the meal. Via the HEALTH scale we aim to create a bit of peer pressure to get people eating more healthy foods. If you like this idea, feel
        free to contribute with your own pictures.

    </p>

    <div id="authors">
        <div id="matus">

            <img class="circular author" src="{% static 'images/matus.jpg' %}" />

            <p class="authorName">Matus Gallik</p>
        </div>

        <div id="mariola">

            <img class="circular author" src="{% static 'images/mariola.jpg' %}" />
            <p class="authorName">Mariola Rubio</p>
        </div>


        <div id="jan">

            <img class="circular author" src="{% static 'images/jan.jpg' %}" />
            <p class="authorName">Jan Paralic</p>
        </div>

    </div>


{% endblock %}

