<!DOCTYPE html>
{% load staticfiles %}
{% load foodfeed_tags %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />

        {% block resources %} {% endblock %}

            <title>
                FoodGram -
                {% block title_block %}
                {% endblock %}
            </title>
        </head>
    
    <body>
        <div id="header">

            <a href="{% url 'index' %}"><p id="foodgram_title"> foodgram</p></a>
            <a href="#"><p id="about_us"> about us</p></a>

        </div>
        
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        
        <div>
            <!-- we dont need a footer but it would be here -->
        </div>
    
    </body>


</html>