{% extends 'foodfeed/base.html' %}
{% load staticfiles %}
{% load foodfeed_tags %}
{% block resources %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/post.js' %}"></script>

{% endblock %}
{% block title_block %}
    Foodfeed
{% endblock %}

{% block body_block %}
    <!-- Image upload -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_form.as_p }}
        <input type="submit" name="submit" class="submit" value="Upload" />
    </form>

    <!-- Foodfeed -->
    {% for pic in feed %}
        <div class="post">
            {% if pic.author.avatar %}
                <img class="user_img" src={{ pic.author.avatar.url }}>
            {% else %}
                <img class="user_img" src="{% static "images/default_avatar.jpg" %}">
            {% endif %}

            {{ pic.author }}
            <img class="post_img" src={{ pic.picture.url }}>
            <p>{{ pic.description }}</p>

            {% get_pic_ratings pic as details %}

            {% for detail in details %}
                {{ detail }}
            {% endfor %}

            <!-- The Modal -->
            <div id="big_post" class="modal_bg_post">

                <!-- Modal content-->
                <div class="modal_post modal_comments">
                     <span class="close">&times;</span>

                </div>

                <div class="modal_post modal_pic">
                    <img class="modal_img" src={{ pic.picture.url }}>

                </div>

            </div>


        </div>
    {% endfor %}

    <!-- User Profile and statistics -->
    {% if user.avatar %}
        <img class="user_img" src={{ user.avatar.url }}>
    {% else %}
        <img class="user_img" src="{% static "images/default_avatar.jpg" %}">
    {% endif %}

    <a>{{ user.first_name }} {{ user.last_name }}</a>

    <!-- Statistics -->
    <h3>Statistics</h3>

    {% get_user_stats user as stats %}

    <h4>Health</h4>
    {{ stats.health }}
    <h4>Style</h4>
    {{ stats.style }}
    <h4>Cooking</h4>
    {{ stats.cooking }}

    <!-- Account options -->

    <form id="sign_out_form" method="POST">
        {% csrf_token %}
        <input type="submit" name="submit" class="submit" value="Sign Out" />
    </form>
{% endblock %}