{% extends 'foodfeed/base.html' %}
{% load staticfiles %}
{% block resources %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" > </link>
<script src="{% static 'js/signup.js' %}"></script>

{% endblock %}
{% block title_block %}
    Profile Edit
{% endblock %}

{% block body_block %}
    <form id="profile_edit_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {% for field in form %}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}

        <input type="submit" name="submit" class="submit" value="Edit" />
    </form>
{% endblock %}